---
import PlayButton from "../assets/play-icon.svg";
---

<a
  href=""
  class="mt-12 flex items-center justify-center border-2 border-black w-90 px-8 py-6 rounded-xl"
>
  <PlayButton class="size-8" />
  <span class="px-5 font-normal text-xl">WATCH THE VIDEO</span>
</a>
