---
import PlayButton from "../assets/play-icon.svg";
---

<section class="mt-28 container-default" id="video">
  <div class="grid grid-cols-2 gap-120 items-center">
    <div class="h-[750px] w-[800px] rounded-4xl overflow-hidden">
      <img
        src="/images/house-4.jpg"
        alt="house-experience"
        class="w-full h-full object-cover"
      />
    </div>

    <div class="w-full">
      <h2 class="text-pretty">
        "We build modern <br /> and high-quality <br /> houses in Mexico."
      </h2>
      <div class="mt-12">
        <p class="font-medium">- Olexander Oleshko</p>
        <div class="inline-flex gap-2">
          <p class="font-extralight">Founder of</p>
          <p class="font-medium">Amber House</p>
        </div>
      </div>
      <a
        href=""
        class="mt-12 flex items-center justify-center border-2 border-black w-90 px-8 py-6 rounded-xl revelation"
      >
        <PlayButton class="size-8" />
        <span class="px-5 font-normal text-xl">WATCH THE VIDEO</span>
      </a>
    </div>
  </div>
</section>
